:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --card-bg: #f5f5f5;
  --nav-bg: #ffffff;
  --nav-text: #000000;
  --logo-color: #000000;
}

body.dark {
  --bg-color: #0f172a;
  --text-color: #ffffff;
  --card-bg: #1e293b;
  --nav-bg: #020617;
  --nav-text: #ffffff;
  --logo-color: #ffffff;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: 0.3s ease;
}

.navbar {
  background: var(--nav-bg);
  color: var(--nav-text);
}

.navbar a,
.navbar span,
.navbar button {
  color: var(--nav-text);
}